
/* ------- Default Sliding Door Buttons ------- */
.button_link{
	border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 19px;
    margin: 5px 10px 5px 0;
    padding: 9px 13px 0;
    text-decoration: none !important;
    text-transform:uppercase;
    color:#555 !important;
    border:1px solid #000;
    line-height:11px;
    background-image: url(../images/buttons/s5_buttons/light_grey.png);
    border:1px solid #23282F;
    text-shadow:none !important;
}
.button_link.large_button{
	font-size: 14px;
    height: 24px;
    line-height: 14px;
    padding: 11px 10px 0;
    background-position:0 -28px;
}
.button.small {
	padding: 7px 12px;
}
.button.round {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
small, .small, sub, sup {
	font-size: 85%;
}
.button {
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none!important;
	position: relative;
}
button, input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* New S5 buttons styles */

.blue{
    background-color: #345CAA !important;
    color:#fff !important;
    border:1px solid #003960 !important;
}

.gray{
    background-color: #657783 !important;
    color:#fff !important;
    border:1px solid #909090 !important;
}

.orange{
    background-color: #CD5234 !important;
    color:#fff !important;
    border:1px solid #A32E01 !important;
}

.purple{
    background-color: #B576AD !important;
    color:#fff !important;
    border:1px solid #b45fa9 !important;
}
.purple:hover {
  background: #b45fa9;
  color: #ddd;
}

.red{
    background-color: #E64135!important;
    color:#fff !important;
    border:1px solid #930000 !important;
}

.yellow{
    background-color: #FFCC00 !important;
    color:#111 !important;
    border:1px solid #f5c402 !important;
}

.green{
    background-color: #00A99D !important;
    color:#fff !important;
    border:1px solid #008800 !important;
}

.black{
    background-color: #111111 !important;
    color:#fff !important;
    border:1px solid #000000 !important;
}