@media screen and (max-width: 640px) {

  #sticky_header {
    display: none !important;
  }
  .menu_wrapper {
    background: none;
  }

  #socialbar {
    float: none;
  }

  #main-menu ul {
    display: none;
  }

  #main-menu li ul {
    position: static;
  }

  #main-menu li ul ul {
    margin: 0 !important;
  }

  #main-menu ul,
  #main-menu li {
    float: none;
    max-width: 100%;
  }

  #main-menu a {
    width: 100%;
    padding: 10px 0;
    color: #343434;
    background: rgb(203, 82, 52);
    background: -moz-linear-gradient(rgb(203, 91, 64),rgb(203, 82, 52));
    background: -webkit-linear-gradient(rgb(203, 91, 64),rgb(203, 82, 52));
    background: -o-linear-gradient(rgb(203, 91, 64),rgb(203, 82, 52));
    background: -ms-linear-gradient(rgb(203, 91, 64),rgb(203, 82, 52));
    background: linear-gradient(rgb(203, 91, 64),rgb(203, 82, 52));
    border-bottom: 1px solid rgb(203, 91, 64);
  }

  #main-menu li li li a {
    background: rgb(203, 82, 52);
  }

  #main-menu a:hover,
  #main-menu li > a.active {
    background: rgb(203, 91, 64);
    background: -moz-linear-gradient(rgb(203, 91, 64),rgb(203, 82, 52));
    background: -webkit-linear-gradient(rgb(203, 91, 64),rgb(203, 82, 52));
    background: -o-linear-gradient(rgb(203, 91, 64),rgb(203, 82, 52));
    background: -ms-linear-gradient(rgb(203, 91, 64),rgb(203, 82, 52));
    background: linear-gradient(rgb(203, 91, 64),rgb(203, 82, 52));
  }

  .drop-down-toggle {
    display: block;
  }

  #main-menu li li .drop-down-toggle {
    top: 5px;
  }

  #main-menu .nav-toggle {
    display: block;
    font-size: 15px;
    font-weight: bold;
  }

}
